{% extends 'base.html' %}
{% load static %}
{% block title %}Ask Question{% endblock title %}

{% block content %}
<style>
    .form-group{
        margin: .3rem;
    }
</style>
    <div class="content text-dark p-3 mx-auto">
        <h3 style="text-align: center;color: black;">Ask question about "{{event.event_name}}" event.</h3>
            <form action="{% url 'events:ask_qtn' event.event_id %}" class="mb-4" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="question" class="font-weight-bold" style="color: #caa97e;">Question: </label>
                <textarea class="form-control" name="question" id="question" style="width: 100%;" rows="4" cols="5"></textarea>
            </div>
            <button class="px-5 py-2 text-light font-weight-semi-bold" style="background-color: #caa97e;">
                Ask Question
            </button>
        </form>
    </div>
{% endblock content %}