{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .event-meta span {
            margin-bottom: 5px;    
        }
    </style>
    <div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
        <div class="container">
            <h2 class="page-title">Events</h2>
        </div>
    </div>

    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        <h2 class="section-title">Upcoming Events</h2>
                        <ul class="event-list large">
                            {% for event in events_pag %}
                            {% if not event.is_past_due %}
                            <!-- Dynamically displays upcoming event and not events in the past -->
                                <li>
                                    <h4 class="event-title"><a class="h4 text-primary text-decoration-none text-uppercase" href="{% url 'events:event_detail' event.event_id %}">{{event.event_name}}</a></h4>
                                    <div class="ml-2 mt-2">
                                        <p class="event-meta" style="text-transform: capitalize;">
                                            <span>
                                                <i class="fa fa-calendar" style="font-size: 16px;"></i>
                                                {{event.event_date}}
                                            </span>
                                            <span class="text-uppercase">
                                                <i class="fa" style="font-size: 16px;">&#xf017;</i>
                                                {{ event.event_time }}
                                            </span>
                                            <span>
                                                <i class="fa fa-map-marker" style="font-size: 16px;"></i>
                                                {{event.event_location}}
                                            </span>
                                        </p>
                                        <p>{{event.event_description}}</p>
                                    </div>
                                    <!-- <a href="#" class="button">Join to this event</a> -->
                                    <a href="{% url 'events:ask_qtn_temp' event.event_id %}" class="button text-decoration-none text-dark">Ask a question</a>
                                </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% include '../snippets/pagination_snippet.html' with objects=events_pag %}
                    </div>
                    <div class="sidebar col-md-3 col-md-offset-1">
                        <div class="widget">
                            <h3 class="widget-title font-weight-bold">Past Events</h3>
                            <ul class="list-group">
                                {% for event in past_events %}
                                {% if event.is_past_due %}
                                <li class="list-group-item mb-2 border" style="font-size: 14px;">
                                    <a href="{% url 'events:event_detail' event.event_id %}" class="h6 text-primary text-capitalize font-weight-bold">{{ event.event_name }}</a>
                                    <div class="ml-3 mt-2">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            {{event.event_date}}
                                        </p>
                                        <p class="text-uppercase">
                                            <i class="fa">&#xf017;</i>
                                            {{ event.event_time }}
                                        </p>
                                        <p>
                                            <i class="fa fa-map-marker"></i>
                                            {{event.event_location}}
                                        </p>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        {% include '../snippets/sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- .main-content -->
{% endblock content %}