{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .font-weight-semi-bold {
        font-size: 18px;
    }
    .titles {
        font-weight: 600;
    }
</style>
<div class="parent mx-3" style="margin-top: 5rem;margin-bottom: 20rem;">
    <div class="container">
        <div class="row">
            <div class="card card-page py-3 mt-2 col-lg-9">
                <div class="card-body">
                  <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Name: </span>
                    <span class="font-weight-semi-bold">{{event.event_name}}</span>
                </h4>
                  <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Location: </span>
                    <span class="font-weight-semi-bold">{{event.event_location}}</span>
                </h4>
                  <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Date: </span>
                    <span class="font-weight-semi-bold">{{event.event_date}}</span>
                </h4>
                  <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Time: </span>
                    <span class="font-weight-semi-bold" style="text-transform: uppercase">{{event.event_time}}</span>
                </h4>
                <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Url</span>
                    <span style="font-size: 14px; text-transform: lowercase;">(to join the event online): </span>
                    <span class="font-weight-semi-bold">
                        {% if event.event_url %}
                        <a style="text-transform: lowercase;" href="{{event.event_url}}">{{event.event_url}}</a>
                        {% else %}
                        <span style="text-transform: lowercase;">Not provided</span>
                        {% endif %}
                    </span>
                </h4>
                <h4 style="text-transform: capitalize;" class="card-title">
                    <span class="titles">Event Details: </span>
                    <span class="font-weight-semi-bold ml-3 mt-1">{{event.event_description|safe}}</span>
                </h4>
                    {% if request.user.is_admin %}
                    <div>
                        <a href="{% url 'events:update_event' event.event_id %}" class="update btn" style="background-color: #CBAA80;">Update Event</a>
                        <a href="{% url 'events:del_event' event.event_id %}" class="delete btn" style="background-color: red;color: #fff;border: none;float: right;" onclick="return confirm('Are you sure you want to delete this event?')">Delete Event</a>
                    </div>
                    {% endif %}
                </div>
              </div>
            <div class="col-md-6">
                <div class="" style="display: block;">
                    <div class="">
                        <div class="justify-content-center border-secondary mt-5 mb-3">
                            <h5 class="font-weight-bold">Questions({{ qtns_counter }})</h5>
                        </div>
                        <div class="mb-5 ml-1">
                            {% if questions.count == 0 %}
                            <p>No questions have been asked about this event.</p>
                            {% endif %}
                            {% for q in questions %}
                            <div class="mb-5 p-2 h6" style="border: 1px solid #CBAA80;border-radius: 10px;">
                                <span>
                                    <span class="font-weight-bold">Question:</span>
                                     {{q.question}}</span>
                                <span style="display:block;" class="ml-3">
                                    <!-- <small> -->
                                        Asked by: 
                                        {{ q.user.first_name }} {{ q.user.last_name }} - 
                                        <i>
                                            {{ q.date_asked }}
                                        </i>
                                    <!-- </small> -->
                                </span>
                                <p style="margin-top: -2px;">
                                    {% for ans in answers %}
                                    {% if ans.answer %}
                                        {% if ans.question.question_id == q.question_id %}
                                            <p class="h6">
                                                <span class="font-weight-bold">Answer:</span>
                                                {{ ans.answer }}
                                            </p>
                                            <span style="display:block;margin-top: -7px;" class="ml-3 mb-3">
                                                <!-- <small> -->
                                                    Answered by the Admin: 
                                                     - 
                                                    <i>
                                                        {{ ans.date_answered }}
                                                    </i>
                                                <!-- </small> -->
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if not q.answer_set.all %}
                                    <p class="h6">
                                        <span class="font-weight-bold">Answer:</span>
                                         This question has not been answered.</p>
                                    {% endif %}
                                </p>
                                {% if request.user.is_admin %}
                                <a href="{% url 'events:ans_qtn_temp' q.question_id %}">Answer Question</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
<!-- <script>
    let ansLink = document.getElementById('ansLink');
    ansLink.addEventListener('click', function (){displayAnsFunc()}, false);
    function displayAnsFunc() {
        let ans = document.getElementById('ans');
        if (ans.classList.contains('first')) {
            ans.style.display = 'block';
        }
        else {
            ans.style.display = 'none';
        }
    }
</script> -->
{% endblock %}