{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'messages.html' %}

    <div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
        <div class="container">
            <h2 class="page-title">Donations</h2>
        </div>
    </div>

    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        <h2 class="section-title mb-3">Donations</h2>
                        <ul class="seremon-list large list-group p-2">
                            {% for donation in donations_pag %}
                            <li class="list-group-item mb-3 border p-5">
                                <div class="seremon-detail">
                                    <h3 class="seremon-title text-uppercase"><a href="{% url 'donations:donation_details' donation.donation_id %}">{{ donation.donation_name }}</a></h3>
                                    <p>{{ donation.donation_desc }}</p>
                                    <p>
                                        <span class="font-weight-bold">Amount Raised: </span>
                                        <i>
                                            {% if donation.amount_raised == None %}
                                            N0
                                            {% else %}
                                            N{{ donation.amount_raised }}
                                            {% endif %}
                                        </i>
                                    </p>
                                    <p>
                                        <span class="font-weight-bold">Amount Needed: </span>
                                        <i>N{{ donation.amount_needed }}</i>
                                    </p>
                                    <div class="seremon-meta mb-2">
                                        <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on {{ donation.date_posted }}</div>
                                    </div>
                                    <a href="{% url 'donations:make_donation' donation.donation_id %}" class="mt-4 button text-decoration-none text-dark">Make Donation</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% include '../snippets/pagination_snippet.html' with objects=donations_pag %}
                    </div>

                    <div class="sidebar col-md-3 col-md-offset-1">
                        <div class="widget">
                            <h3 class="widget-title">Completed Donations</h3>
                            <ul class="list-group">
                                {% for donation in completed_donations %}
                                <li class="list-group-item mb-2 border" style="font-size: 14px;">
                                    <a href="{% url 'donations:donation_details' donation.donation_id %}" class="h6 text-primary text-capitalize font-weight-bold">{{ donation.donation_name }}</a>
                                    <div class="ml-3 mt-2">
                                        <p class="text-uppercase">
                                            {{ donation.donation_desc|slice:":100" }}....
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- .main-content -->
{% endblock content %}