{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
        <div class="container">
            <h2 class="page-title">News</h2>
        </div>
    </div>

    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        <h2 class="section-title mb-3">News</h2>
                        <ul class="seremon-list large list-group p-2">
                            {% for n in news %}
                            <li class="list-group-item mb-3 border p-5">
                                <div class="seremon-detail">
                                    <h3 class="seremon-title text-uppercase"><a href="{% url 'news:news_details' n.news_id %}">{{ n.news_headline }}</a></h3>
                                    <p>{{ n.news_body|safe }}</p>
                                    <div class="seremon-meta mb-2">
                                        <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on {{ n.date_posted }}</div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar col-md-3 col-md-offset-1">
                        <div class="widget">
                            <h3 class="widget-title">Donations</h3>
                            <ul class="list-group">
                                {% for donation in donations %}
                                <li class="list-group-item mb-2 border" style="font-size: 14px;">
                                    <a href="{% url 'donations:donation_details' donation.donation_id %}" class="h6 text-primary text-capitalize font-weight-bold">{{ donation.donation_name }}</a>
                                    <div class="ml-3 mt-2">
                                        <p class="text-uppercase">
                                            {{ donation.donation_desc|slice:":100" }}....
                                        </p>
                                        <p>
                                            <strong>Amount Needed: </strong>
                                            <i>${{donation.amount_needed}}</i>
                                        </p>
                                        <p>
                                            <strong>Amount Raised: </strong>
                                            <i>${{donation.amount_raised}}</i>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- .main-content -->
{% endblock content %}