{% extends 'base.html' %}
{% load static %}
{% block title %}Vendor Registration{% endblock title %}

{% block content %}
    <style>
        .form-group {
            margin: .3rem;
            margin-bottom: 1rem;
        }
        form select {
            padding: 6px;
            padding-right: 20px;
        }
    </style>
    
    <div class="errors mb-2" style="margin-left: 2rem;">
        {% for field in reg_form %}
            <p>
            {% for error in field.errors %}
                <p style="color: rgb(175, 23, 23);">{{field.label_tag}} {{error}}</p>
            {% endfor %}
            </p>
        {% endfor %}

        {% if reg_form.non_field_errors %}
            <div style="color: rgb(175, 23, 23);">
                {{reg_form.non_field_errors}}
            </div>
        {% endif %}
    </div>

    <div class="content text-dark p-3"> 
        <h3 style="text-align: center;color: #caa97e;">Register</h3>
        <form action="{% url 'accounts:reg' %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                  <label for="first_name">Firstname</label>
                  <input type="text" class="form-control" id="first_name" aria-describedby="first_name" placeholder="Enter your firstname" name="first_name" >
                </div>
                <div class="form-group">
                  <label for="last_name">Lastname</label>
                  <input type="text" class="form-control" id="last_name" aria-describedby="last_name" placeholder="Enter your lastname" name="last_name" >
                </div>
                <div class="form-group">
                  <label for="username">Username: </label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" >
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone No: </label>
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number" >
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <p class="p-2">{{ reg_form.country }}</p>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" >
                </div>
                <div class="form-group">
                    <label for="password1">Password 1: </label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password" >
                </div>
                <div class="form-group">
                    <label for="password2">Password 2: </label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat your password" >
                </div>


            <button class="mt-2 px-5 py-2" style="background-color: #caa97e;margin-left: .3rem;" type="submit">
                Submit
            </button>
        </form>
        <p style="margin-left: .3rem;" class="mt-2">

        <a href="" class="text-dark">
                Already have an account? <span style="color: blue;">Login</span>
        </a>
        </p>
    </div>
{% endblock content %}