{% load static %}
<!-- <div class="sidebar col-md-3 col-md-offset-1"> -->
    <div class="widget">
        <h3 class="widget-title">Donations</h3>
        <ul class="list-group">
            {% for donation in donations %}
            {% if not donation.complete  %}
            <li class="list-group-item mb-2 border" style="font-size: 14px;">
                <a href="{% url 'donations:donation_detail' donation.donation_id %}" class="h6 text-primary text-capitalize font-weight-bold">{{ donation.donation_name }}</a>
                <div class="ml-3 mt-2">
                    <p>
                        <!-- <i class="fa fa-calendar"></i> -->
                        {{donation.donation_name}}
                    </p>
                    <p class="text-uppercase">
                        <!-- <i class="fa">&#xf017;</i> -->
                        {{ donation.donation_desc|slice:":100" }}....
                    </p>
                    <p>
                        <!-- <i class="fa fa-map-marker"></i> -->
                        {{donation.donation_amount_needed}}
                    </p>
                    <p>
                        <!-- <i class="fa fa-map-marker"></i> -->
                        {{donation.donation_amount_raised}}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    
<!-- </div> -->