{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
        <div class="container">
            <h2 class="page-title">Sermons</h2>
        </div>
    </div>

    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        <h2 class="section-title mb-3">Upcoming seremons</h2>
                        <ul class="seremon-list large list-group p-2">
                            {% for sermon in sermons_pag %}
                            {% if not sermon.is_past_due %}
                            <li class="list-group-item mb-3 border">
                                <img class="ml-5" src="{{ sermon.sermon_image.url }}" alt="" style="width: 80px;height: 65px;">
                                <div class="seremon-detail">
                                    <h3 class="seremon-title text-uppercase"><a href="{% url 'sermons:sermon_details' sermon.sermon_id %}">{{ sermon.sermon_title }}</a></h3>
                                    <div class="seremon-meta mb-2">
                                        <div class="pastor text-capitalize d-block"><i class="fa fa-user"></i>{{ sermon.sermon_priest_name }}</div>
                                        <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>{{ sermon.sermon_date }}</div>
                                    </div>
                                    <p>{{ sermon.sermon_desc }}</p>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if not upcoming_sermons %}
                            <div class="ml-5 mb-5">
                                <p class="h5">No upcoming sermons.</p>
                            </div>
                            {% endif %}
                        </ul>
                        {% include '../snippets/pagination_snippet.html' with objects=sermons_pag %}
                    </div>
                    <div class="sidebar col-md-3 col-md-offset-1 mt-5">
                        <div class="widget">
                            <h3 class="widget-title">Past Sermons</h3>
                            <ul class="list-group">
                                {% for sermon in past_sermons %}
                                <li class="list-group-item border mb-2">
                                    <img src="{{ sermon.sermon_image.url }}" alt="" style="width: 70px;height: 65px;">
                                    <div class="seremon-detail">
                                        <h5 class="seremon-title mt-2"><a href="{% url 'sermons:sermon_details' sermon.sermon_id %}">{{ sermon.sermon_title }}</a></h5>
                                        <div class="seremon-meta">
                                            <div class="pastor"><i class="fa fa-user mr-2"></i>{{ sermon.sermon_priest_name }}</div>
                                            <div class="date"><i class="fa fa-calendar mr-2"></i>{{ sermon.sermon_date }}</div>
                                        </div>
                                        <p class="text-capitalize">
                                            <span style="font-weight: 700;">Desc: </span>
                                            {{ sermon.sermon_desc|slice:":100" }}.....
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% include '../snippets/sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- .main-content -->
{% endblock content %}