{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'messages.html' %}
<style>
    .django-ckeditor-widget{
        width: 100%;
        /* border: 2px solid red; */
}
</style>
<div class="errors" style="margin-left: 2rem;">
    {% for field in update_sermon_form %}
        <p>
        {% for error in field.errors %}
        <div class="alert alert-danger p-0 px-2 py-2 mr-4" role="alert">
            {{field.label_tag}} {{error}}
        </div>
        {% endfor %}
        </p>
    {% endfor %}
    {% if sermon_form.non_field_errors %}
    <div class="alert alert-danger p-0 px-2 py-2 mr-4" role="alert">
            {{update_sermon_form.non_field_errors}}
        </div>
    {% endif %}
</div>
<div class="w-100 mx-auto bg-white" style="padding: 2rem 1rem;margin-bottom: 5rem;color: black;">
    <p class="h3 font-weight-bold" style="text-align: center; margin-bottom: 4rem">Update Sermon</p>
    <form method="post" action="{% url 'sermons:update_sermon' sermon.sermon_id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- SERMON TITLE -->
        <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 1rem;margin-top: 1rem">
            <label class="font-weight-bold" for="sermon_title">Sermon Name</label>
            <input required class="form-control" type="text" name="sermon_title" id="sermon_title" value="{{ sermon.sermon_title }}">
        </div>

        <!-- SERMON PRIEST NAME -->
        <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 1rem;margin-top: 1rem">
            <label class="font-weight-bold" for="sermon_title">Priest's Name</label>
            <input required class="form-control" type="text" name="sermon_priest_name" id="sermon_priest_name" value="{{ sermon.sermon_priest_name }}">
        </div>

        <!-- SERMON DATE -->
        <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 1rem;">
            <label class="font-weight-bold" for="sermon_date">Sermon Date</label>
            <small class="ml-2">Current sermon date: {{sermon.sermon_date}}</small>
            <input required class="form-control" type="date" name="sermon_date" id="sermon_date" value="{{ sermon.sermon_date }}">
        </div>

        <!-- SERMON IMAGE -->
        <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 1rem;">
            <label class="font-weight-bold" for="sermon_image">Sermon Image</label>
            <div class="form-group mb-3 mt-1 image-group" id="id_image_group">
                <img class="img-fluid image" src="{{sermon.sermon_image.url}}" id="sermon_image">
            </div>
            <p>{{ update_sermon_form.sermon_image }}</p>
        </div>

        <!-- SERMON DESC -->
        <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 1rem;">
            <label class="font-weight-bold" for="sermon_desc">Sermon Description</label>
            <textarea class="form-control" name="sermon_desc" id="sermon_desc" style="width: 100%;" rows="10" cols="5" required>{{ sermon.sermon_desc }}</textarea>
        </div>

        <!-- SERMON BODY -->
        <div class="" style="display: flex; flex-direction: column; margin-bottom: 1rem;">
            <label class="font-weight-bold" for="sermon_body">Sermon Body</label>
            {{ update_sermon_form.media }} <!-- Necessary for ckeditor to work -->
            <div class="">{{ update_sermon_form.sermon_body }}</div>
        </div>

        <button class="btn btn-primary" style="display: flex; margin: auto; margin-top: .5rem;width: 50%;" type="submit">
            <span style="margin: 0 auto;font-weight: bold;">Add Sermon</span>
        </button>
    </form>
{% endblock content %}