{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>True Church</title>

		<!-- Loading third party fonts -->
		<link href="{% static 'fonts/novecento-font/novecento-font.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
		
        

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		<div class="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{% url 'home' %}" class="branding text-decoration-none">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<h1 class="site-title">True Church</h1>
					</a>

					<div class="main-navigation">
                        {% with request.resolver_match.url_name as url_name %}
						<button class="menu-toggle"><i class="fa fa-bars"></i> Menu</button>
						<ul class="menu">
							<li class="menu-item {% if url_name == 'home' %}current-menu-item{% endif %}"><a class="text-decoration-none" href="{% url 'home' %}">Home <small>Lorem ipsum</small></a></li>
							<li class="menu-item {% if url_name == 'event' %}current-menu-item{% endif %}"><a class="text-decoration-none" href="{% url 'event' %}">Events <small>Cupidatat non proident</small></a></li>
							<li class="menu-item {% if url_name == 'sermon' %}current-menu-item{% endif %}"><a class="text-decoration-none" href="{% url 'sermon' %}">Sermons <small>Laboris nisi aliquip</small></a></li>
							<li class="menu-item {% if url_name == 'donation' %}current-menu-item{% endif %}"><a class="text-decoration-none" href="{% url 'donation' %}">Donations <small>Laboris nisi aliquip</small></a></li>
						</ul>
                        {% endwith  %}
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->
        </div>

        <main style="margin-top: 4rem;overflow-x: hidden;" class="main-content">
            {% block content %}
        
            {% endblock content %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Our address</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis magnam, ab ipsa laboriosam tempore tenetur, aliquid repellat, ex cum dicta reiciendis accusamus. Omnis repudiandae quasi mollitia, iusto odio dignissimos.</p>
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> 329 Church St, Garland, TX 75042</li>
                                <li><i class="fa fa-phone"></i> (425) 853 442 552</li>
                                <li><i class="fa fa-envelope"></i> info@yourchurch.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Topics from last meeting</h3>
                            <ul class="bullet">
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Consectetur adipisicing elit quis nostrud</a></li>
                                <li><a href="#">Eiusmod tempor incididunt ut labore et dolore magna</a></li> 
                                <li><a href="#">Ut enim ad minim veniam cillum</a></li>
                                <li><a href="#">Exercitation ullamco laboris nisi ut aliquip</a></li> 
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptate</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Contact form</h3>
                            <form action="#" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6"><input type="text" placeholder="Your name..."></div>
                                    <div class="col-md-6"><input type="text" placeholder="Email..."></div>
                                </div>
                                
                                <textarea name="" placeholder="Your message..."></textarea>
                                <div class="text-right"><input type="submit" value="Send message"></div>
                                
                            </form>
                        </div>
                    </div>
                </div> <!-- .row -->

                <p class="colophon">Copyright 2014 True Church. All right reserved</p>
            </div><!-- .container -->
        </footer> <!-- .site-footer -->

    </div>
    

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>