{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Oduduwa Shrine</title>

		<!-- Loading third party fonts -->
		<link href="{% static 'fonts/novecento-font/novecento-font.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
		
        

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
            <style>
                .main-navigation a, .main-navigation li{
                    color: #caa97e;
                    font-weight: bold;
                }
                .menu li {
                    /* margin-bottom: 15px; */
                    padding: 4px;
                }
                @media (max-width: 600px) {
                    .search-box {
                        width: 72vw;
                }
            </style>
	</head>


	<body>
		<div class="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{% url 'home' %}" class="branding text-decoration-none" style="font-size: 13px;">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<h1 class="site-title font-weight-bold">Oduduwa Shrine</h1>
					</a>

					<div class="main-navigation">
						<button class="menu-toggle"><i class="fa fa-bars"></i> 
                            <span>Menu</span>
                        </button>
						<ul class="menu mt-2">
							<li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                <button class="btn text-light" type="button" style="background-color: #CBAA7F;">
                                    <a type="button" class="text-light text-capitalize text-decoration-none pt-1 py-0 px-1" href="{% url 'home' %}" style="font-size:13px;background-color: #CBAA7F;">Home</a>
                                </button>
                                </div>
                            </li>
							<li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #CBAA7F;">
                                      News
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'news:news' %}">News</a>
                                        <a class="p-1 text-capitalize text-decoration-none" href="{% url 'news:add_news' %}">Add-News</a>
                                    </div>
                                  </div>
                            </li>
							<li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #CBAA7F;">
                                      Events
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'events:event' %}">Events</a>
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'events:add_event' %}">Add-Event</a>
                                    </div>
                                </div>
                            </li>
							<li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #CBAA7F;">
                                      Sermons
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'sermons:sermons' %}">Sermons</a>
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'sermons:add_sermon' %}">Add-Sermon</a>
                                    </div>
                                </div>
                            </li>
							<li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #CBAA7F;">
                                      Donations
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'donations:donations' %}">Donations</a>
                                        <a class="text-decoration-none p-1 text-capitalize" href="{% url 'donations:add_donation' %}">Add-Donation</a>
                                    </div>
                                </div>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn text-light" type="button" style="background-color: #CBAA7F;">
                                    <a type="button" class="text-light text-capitalize text-decoration-none py-0 px-1" href="{% url 'accounts:logout' %}" style="font-size:13px;background-color: #CBAA7F;">Sign-out</a>
                                    </button>
                                </div>
                            </li>
                            {% else %}
                            <li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn text-light" type="button" style="background-color: #CBAA7F;">
                                    <a type="button" class="text-light text-capitalize text-decoration-none py-0 px-1" href="{% url 'accounts:reg' %}" style="font-size:13px;background-color: #CBAA7F;">Sign-up</a>
                                    </button>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="dropdown" style="font-size: 14px;">
                                    <button class="btn text-light" style="background-color: #CBAA7F;">
                                    <a class="text-light text-capitalize text-decoration-none py-0 px-1" href="{% url 'accounts:login' %}" style="font-size:13px;background-color: #CBAA7F;">Sign-in</a>
                                    </button>
                                </div>
                            </li>
                            {% endif %}
						</ul>
                        <div class="col-lg-12 col-6 text-left">
                            <form action="" method="get">
                                {% csrf_token %}
                                <div class="input-group search-box">
                                    <input type="text" class="form-control" placeholder="Search by news headline, event name, sermon title, and donation name." name="query" id="id_query" value="{{request.GET.query}}" style="pointer-events: ;">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search" name="search" style="color: #CBAA7F;"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
					</div>
					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->
        </div>

        <main style="margin-top: 2rem;overflow-x: hidden;" class="main-content">
            {% block content %}
        
            {% endblock content %}
        </main>

        <footer class="site-footer mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget text-center">
                            <h3 class="widget-title">Our address</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis magnam, ab ipsa laboriosam tempore tenetur, aliquid repellat, ex cum dicta reiciendis accusamus. Omnis repudiandae quasi mollitia, iusto odio dignissimos.</p>
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> FHJ6+V4C, 220101, Ife, Osun State, Nigeria.</li>
                                <li><i class="fa fa-phone"></i> (000) 000 000 000</li>
                                <li><i class="fa fa-envelope"></i> lorem@oduduwashrine.com</li>
                            </ul>
                            <p class="colophon">Copyright 2022 Oduduwa Shrine. All right reserved</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Topics from last meeting</h3>
                            <ul class="bullet">
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Consectetur adipisicing elit quis nostrud</a></li>
                                <li><a href="#">Eiusmod tempor incididunt ut labore et dolore magna</a></li> 
                                <li><a href="#">Ut enim ad minim veniam cillum</a></li>
                                <li><a href="#">Exercitation ullamco laboris nisi ut aliquip</a></li> 
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptate</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Contact form</h3>
                            <form action="#" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6"><input type="text" placeholder="Your name..."></div>
                                    <div class="col-md-6"><input type="text" placeholder="Email..."></div>
                                </div>
                                
                                <textarea name="" placeholder="Your message..."></textarea>
                                <div class="text-right"><input type="submit" value="Send message"></div>
                                
                            </form>
                        </div>
                    </div> -->
                </div> <!-- .row -->
            </div><!-- .container -->
        </footer> <!-- .site-footer -->

    </div>
    

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>