{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        
    </style>
    {% if request.GET.query != '' %}

    <!-- SEARCH RESULTS FOR NEWS -->
    {% if news %}
    <div class="container">
        <ul class="seremon-list large list-group p-2">
            {% for n in news %}
            <li class="list-group-item mb-3 border p-5">
                <div class="seremon-detail">
                    <h3 class="seremon-title text-uppercase"><a href="{% url 'news:news_details' n.news_id %}">{{ n.news_headline }}</a></h3>
                    <p>{{ n.news_body|safe|slice:":300" }}....</p>
                    <div class="seremon-meta mb-2">
                        <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on 
                            <span class="text-uppercase">{{ n.date_posted }}</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- SEARCH RESULTS FOR SERMONS -->
    {% if sermons %}
    <ul class="seremon-list large list-group p-2">
        {% for sermon in sermons_pag %}
        <li class="list-group-item mb-3 border">
            <img class="ml-5" src="{{ sermon.sermon_image.url }}" alt="" style="width: 80px;height: 65px;">
            <div class="seremon-detail">
                <h3 class="seremon-title text-uppercase"><a href="{% url 'sermons:sermon_details' sermon.sermon_id %}">{{ sermon.sermon_title }}</a></h3>
                <div class="seremon-meta mb-2">
                    <div class="pastor text-capitalize d-block"><i class="fa fa-user"></i>{{ sermon.sermon_priest_name }}</div>
                    <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>{{ sermon.sermon_date }}</div>
                </div>
                <p>{{ sermon.sermon_desc }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <!-- SEARCH RESULTS FOR DONATIONS -->
    {% if donations %}
    <ul class="seremon-list large list-group p-2">
        {% for donation in donations_pag %}
        <li class="list-group-item mb-3 border p-5">
            <div class="seremon-detail">
                <h3 class="seremon-title text-uppercase"><a href="{% url 'donations:donation_details' donation.donation_id %}">{{ donation.donation_name }}</a></h3>
                <p>{{ donation.donation_desc }}</p>
                <p>
                    <span class="font-weight-bold">Amount Raised: </span>
                    <i>
                        {% if donation.amount_raised == None %}
                        N0
                        {% else %}
                        N{{ donation.amount_raised }}
                        {% endif %}
                    </i>
                </p>
                <p>
                    <span class="font-weight-bold">Amount Needed: </span>
                    <i>N{{ donation.amount_needed }}</i>
                </p>
                <div class="seremon-meta mb-2">
                    <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on {{ donation.date_posted }}</div>
                </div>
                <a href="{% url 'donations:make_donation' donation.donation_id %}" class="mt-4 button text-decoration-none text-dark">Make Donation</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- SEARCH RESULTS FOR EVENTS -->
    {% if events %}
    <ul class="event-list large">
        {% for event in events_pag %}
        <!-- Dynamically displays upcoming event and not events in the past -->
            <li>
                <h4 class="event-title"><a class="h4 text-primary text-decoration-none text-uppercase" href="{% url 'events:event_detail' event.event_id %}">{{event.event_name}}</a></h4>
                <div class="ml-2 mt-2">
                    <p class="event-meta" style="text-transform: capitalize;">
                        <span>
                            <i class="fa fa-calendar" style="font-size: 16px;"></i>
                            {{event.event_date}}
                        </span>
                        <span class="text-uppercase">
                            <i class="fa" style="font-size: 16px;">&#xf017;</i>
                            {{ event.event_time }}
                        </span>
                        <span>
                            <i class="fa fa-map-marker" style="font-size: 16px;"></i>
                            {{event.event_location}}
                        </span>
                    </p>
                    <p>{{event.event_description}}</p>
                </div>
                <!-- <a href="#" class="button">Join to this event</a> -->
                <a href="{% url 'events:ask_qtn_temp' event.event_id %}" class="button text-decoration-none text-dark">Ask a question</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% elif request.GET.query == '' %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid d-block h-50 w-100 carousel-image" src="{% static 'images/moremi3.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="img-fluid d-block h-50 w-100 carousel-image" src="{% static 'images/home-carousel2.jpg' %}" alt="Second slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container" style="margin-top:100px;">
            <h2 class="section-title">Latest news</h2>

            <ul class="seremon-list large list-group p-2">
                {% for n in news %}
                <li class="list-group-item mb-3 border p-5">
                    <div class="seremon-detail">
                        <h3 class="seremon-title text-uppercase"><a href="{% url 'news:news_details' n.news_id %}">{{ n.news_headline }}</a></h3>
                        <p>{{ n.news_body|safe|slice:":300" }}....</p>
                        <div class="seremon-meta mb-2">
                            <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on 
                                <span class="text-uppercase">{{ n.date_posted }}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="" style="margin-top: 100px;">
                <h2 class="section-title mb-2">Donations</h2>
                <ul class="seremon-list large list-group p-2">
                    {% for donation in donations %}
                    <li class="list-group-item mb-3 border p-5">
                        <div class="seremon-detail">
                            <h3 class="seremon-title text-uppercase"><a href="{% url 'donations:donation_details' donation.donation_id %}">{{ donation.donation_name }}</a></h3>
                            <p>{{ donation.donation_desc|slice:":300" }}....</p>
                            <p>
                                <span class="font-weight-bold">Amount Raised: </span>
                                <i>
                                    {% if donation.amount_raised == None %}
                                    N0
                                    {% else %}
                                    N{{ donation.amount_raised }}
                                    {% endif %}
                                </i>
                            </p>
                            <p>
                                <span class="font-weight-bold">Amount Needed: </span>
                                <i>N{{ donation.amount_needed }}</i>
                            </p>
                            <div class="seremon-meta mb-2">
                                <div class="date text-capitalize d-block"><i class="fa fa-calendar"></i>Posted by the Admin on 
                                    <span class="text-uppercase">
                                    {{ donation.date_posted }}
                                    </span>
                                    </div>
                            </div>
                            <a href="{% url 'donations:make_donation' donation.donation_id %}" class="mt-4 button text-decoration-none text-dark">Make Donation</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- .container -->
    </div> <!-- section -->

    

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 100px;">
                    <h2 class="section-title">Upcoming events</h2>
                    <ul class="event-list">
                        {% for event in events %}
                        
                        <li class="py-5">
                            <a href="{% url 'events:event_detail' event.event_id %}">
                                <h3 class="event-title text-uppercase">{{event.event_name}}</h3>
                                <span class="event-meta text-capitalize" style="margin-left: -180px;">
                                    <span class="text-uppercase"><i class="fa fa-calendar"></i>{{ event.event_date }}</span>
                                    <span class="text-uppercase"><i class="fa">&#xf017;</i>{{ event.event_time }}</span>
                                    <span><i class="fa fa-map-marker"></i>{{ event.event_location }}</span>

                                </span>
                            </a>
                        </li>
                        
                        {% endfor %}
                    </ul>

                    <div class="text-center">
                        <a href="{% url 'events:event' %}" class="button">See all events</a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h2 class="section-title">Upcoming seremons</h2>
                    <ul class="seremon-list">
                        {% for sermon in sermons %}
                        <li>
                            <img src="{{ sermon.sermon_image.url }}" alt="" style="width: 70px;height: 65px;">
                                <h3 class="seremon-title"><a href="{% url 'sermons:sermon_details' sermon.sermon_id %}">{{ sermon.sermon_title }}</a></h3>
                                <div class="seremon-meta">
                                    <div class="pastor"><i class="fa fa-user"></i>{{ sermon.sermon_priest_name }}</div>
                                    <div class="date text-uppercase"><i class="fa fa-calendar"></i>{{ sermon.sermon_date }}</div>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="text-center">
                        <a href="{% url 'sermons:sermons' %}" class="button">See all sermons</a>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- section -->
</main> <!-- .main-content -->
    {% endif %}
{% endblock content %}